/* Custom css goes here */
.toolbar-icon-wiki-pages-pagelist:before {
  background-image: url(../icons/787878/file.svg);
}
.toolbar-icon-wiki-pages-pagelist:active:before,
.toolbar-icon-wiki-pages-pagelist.is-active:before {
  background-image: url(../icons/000000/file.svg);
}
.wiki-pages-content-menu {
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: #f8f9fa;
  margin: 20px 0px;
}
.wiki-pages-content-menu h2 {
  margin: 0;
  margin-bottom: 5px;
}
.wiki-pages-content-menu ol {
  list-style-type: none;
  counter-reset: item;
  margin: 10px 0 0 0;
  padding: 0 !important;
}
.wiki-pages-content-menu ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 2px;
}
.wiki-pages-content-menu ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 10px;
}
.wiki-pages-content-menu ol > li > ol {
  margin: 2px 0;
}
.wiki-pages-content-menu li ol > li {
  margin: 0;
}
.wiki-pages-content-menu li ol > li:before {
  content: counters(item, ".") " ";
}
